<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="fs-4">AC1</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/calcular-media" routerLinkActive="active" class="nav-link">Calcular Média</a></li>
    <li class="nav-item"><a routerLink="/calculadora" routerLinkActive="active" class="nav-link">Calculadora</a></li>
    <li class="nav-item"><a routerLink="/apolice" routerLinkActive="active" class="nav-link">Apólice</a>
    <li class="nav-item"><a routerLink="/conversor" routerLinkActive="active" class="nav-link">Conversor Temperatura</a>
    <li class="nav-item"><a routerLink="/IMC" routerLinkActive="active" class="nav-link">IMC</a>
    </li>
  </ul>
</header>