<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Descricão</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarefa of tarefas"
                    [ngStyle]="{'text-decoration': tarefa.status ? 'line-through' : 'none'}">
                    <td>{{tarefa.descricao}}</td>
                    <td><input type="checkbox" [(ngModel)]="tarefa.status">
                        <label>{{tarefa.status ? 'Concluida' : 'Não Concluida'}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>