<div class="sobre-container">
    <h1>Sobre Nós</h1>
  
    <p>
      Nossa loja nasceu da paixão pelos consoles clássicos que marcaram gerações: o <strong>PlayStation 1</strong>,
      <strong>PlayStation 2</strong> e <strong>PlayStation 3</strong>. Aqui, celebramos a era de ouro dos videogames,
      com foco nos títulos que definiram a história da Sony e o coração dos jogadores.
    </p>
  
    <p>
      Trabalhamos com a venda e manutenção de consoles, jogos e acessórios originais. Seja você um colecionador,
      um jogador nostálgico ou alguém que quer reviver os clássicos como <em>Final Fantasy VII</em>,
      <em>God of War</em>, <em>Shadow of the Colossus</em> ou <em>Uncharted</em>, temos o que você procura.
    </p>
  
    <p>
      Nosso compromisso é entregar produtos de qualidade, testados e com garantia, além de um atendimento
      apaixonado por tudo que envolve o universo gamer retrô.
    </p>
  
    <hr>
  
    <p><strong>Desenvolvedor:</strong> Luccas Abreu Silva/p>
    <p><strong>RA:</strong>237201</p>
  </div>
  