<form #form="ngForm" (ngSubmit)="salvar()">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" name="nome" class="form-control" [(ngModel)]="usuario.nome" required>

    <div *ngIf="form.submitted && form.controls['nome'].errors" class="invalid">
        <div *ngIf="form.controls['nome'].errors['required']"> Nome é obrigatório.</div>
    </div>

    <label for="email" class="form-label">Email:</label>
    <input type="text" name="email" class="form-control" [(ngModel)]="usuario.email" required email>

    <div *ngIf="form.submitted && form.controls['email'].errors" class="invalid">
        <div *ngIf="form.controls['email'].errors['required']"> Email é obrigatório.</div>
        <div *ngIf="form.controls['email'].errors['email']"> Email é inválido.</div>
    </div>


    <label for="senha" class="form-label">Senha:</label>
    <input type="password" name="senha" class="form-control" [(ngModel)]="usuario.senha" required>

    <div *ngIf="form.submitted && form.controls['senha'].errors" class="invalid">   
        <div *ngIf="form.controls['senha'].errors['required']"> Senha é obrigatória.</div>
    </div>


    <label for="ativo" class="form-label">Ativo:</label>
    <input type="checkbox" name="ativo" class="form-check-input" [(ngModel)]="usuario.ativo" required>

    <div *ngIf="form.submitted && form.controls['ativo'].errors" class="invalid">
        <div *ngIf="form.controls['ativo'].errors['required']"> Ativo é obrigatório.</div>
    </div>

    <div class="pb-2">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
    </div>
</form>
